* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#root {
  height: 100%;
  display: flex;
}

body {
  background: rgb(0, 0, 0);
  height: 100%;
}

.App {
  border: 4px solid rgb(41, 40, 38);
  display: flex;
  margin: auto;
  height: clamp(600px, 95%, 800px);
  width: clamp(340px, 90%, 550px);
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 30px 10px 30px 30px;
  background-image: linear-gradient(
    to right bottom,
    #001c10,
    #001c10,
    #011c10,
    #011c10,
    #011c10,
    #011d11,
    #011d11,
    #011e12,
    #012013,
    #012114,
    #012315,
    #002516
  );
  box-shadow: 0px 0px 6px 2px #35333394;
}

.game-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 10px solid rgb(0, 0, 0);
  z-index: 100;
  overflow: hidden;
  align-items: center;
  background-size: 100% 100%;
  background-image: url("./Assets/Backgroundlayers/Layer_0000_9.png"),
    url("./Assets/Backgroundlayers/Layer_0001_8.png"),
    url("./Assets/Backgroundlayers/Layer_0002_7.png"),
    url("./Assets/Backgroundlayers/Layer_0003_6.png"),
    url("./Assets/Backgroundlayers/Layer_0004_Lights.png"),
    url("./Assets/Backgroundlayers/Layer_0005_5.png"),
    url("./Assets/Backgroundlayers/Layer_0006_4.png"),
    url("./Assets/Backgroundlayers/Layer_0007_Lights.png"),
    url("./Assets/Backgroundlayers/Layer_0008_3.png"),
    url("./Assets/Backgroundlayers/Layer_0009_2.png"),
    url("./Assets/Backgroundlayers/Layer_0010_1.png"),
    url("./Assets/Backgroundlayers/Layer_0011_0.png");
}

.travel-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-image: url("./Assets/Backgroundlayers/Layer_0010_1.png"),
    url("./Assets/Backgroundlayers/Layer_0011_0.png");
}

.travel-background {
  position: absolute;
  bottom: 0;
}

.game-canvas {
  height: clamp(240px, 92%, 400px);
  width: 100%;
  display: flex;
  position: absolute;
}

.charContainer {
  position: absolute;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 10;
}

.gameWrapper {
  width: clamp(300px, 90%, 700px);
  height: clamp(375px, 50%, 450px);
  overflow: hidden;
  border: 5px ridge rgb(53, 53, 53);
  background-color: black;
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
}

.charContainerActive {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: myAnim 1.4s ease 0s 1 normal forwards;
}

.mobContainer {
  position: absolute;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.mobContainerActive {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: enemyanim 1.4s ease 0s 1 normal forwards;
}

.charSelectionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  width: 80%;
  min-width: min-content;
  align-self: center;
  align-items: center;
  outline: 2px solid black;
}

.charSelectionContainer.button {
  width: 10px;
}

@keyframes myAnim {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  20% {
    opacity: 1;
    transform: translateX(clamp(1rem, 5vw, 4rem));
  }

  80% {
    opacity: 1;
    transform: translateX(clamp(1rem, 5vw, 4rem));
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes enemyanim {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  20% {
    opacity: 1;
    transform: translateX(clamp(-1rem, 5vw, -4rem));
  }

  80% {
    opacity: 1;
    transform: translateX(clamp(-1rem, 5vw, -4rem));
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.user-canvas {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
}

.enemy-canvas {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
}

.mobStats {
  position: absolute;
  background-image: linear-gradient(
    to left,
    #ffffff34,
    #ffffff30,
    #ffffff20,
    #ffffff10,
    #ffffff00
  );
  right: 0;
  backdrop-filter: blur(44px);
  padding: 0.5rem 1rem 0 0;
  text-align: right;
  width: 100%;
}

.userStats {
  position: absolute;
  background-image: linear-gradient(
    to right,
    #ffffff34,
    #ffffff30,
    #ffffff20,
    #ffffff10,
    #ffffff00
  );
  left: 0;
  backdrop-filter: blur(44px);
  padding: 0.5rem 0 0 1rem;
  text-align: start;
  width: 100%;
}

.button-container {
  display: flex;
  height: 100px;
  width: 30%;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 10px;
  border-radius: 10px;
  background: white;
}

.Icon {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  bottom: 0;
}

.icon-buttons {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  z-index: 1000;
  border-radius: 10px;
}

.roundResults {
  width: clamp(300px, 90%, 700px);
  background: white;
  text-align: center;
  height: 5rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid black;
}

.controlsContainer {
  width: clamp(300px, 90%, 700px);
  margin-bottom: 1rem;
  background-color: black;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
}

.controlwrapper {
  width: clamp(300px, 90%, 700px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 40%;
}

.controlhold {
  width: clamp(300px, 90%, 700px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 40%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
