* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  background: grey;
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-container {
  position: relative;
  width: clamp(350px, 90%, 700px);
  height: clamp(300px, 35%, 600px);
  display: flex;
  outline: 2px solid black;
  background-size: 100% 100%;
  background-image: url("./Assets/Backgroundlayers/Layer_0000_9.png"),
    url("./Assets/Backgroundlayers/Layer_0001_8.png"),
    url("./Assets/Backgroundlayers/Layer_0002_7.png"),
    url("./Assets/Backgroundlayers/Layer_0003_6.png"),
    url("./Assets/Backgroundlayers/Layer_0004_Lights.png"),
    url("./Assets/Backgroundlayers/Layer_0005_5.png"),
    url("./Assets/Backgroundlayers/Layer_0006_4.png"),
    url("./Assets/Backgroundlayers/Layer_0007_Lights.png"),
    url("./Assets/Backgroundlayers/Layer_0008_3.png"),
    url("./Assets/Backgroundlayers/Layer_0009_2.png"),
    url("./Assets/Backgroundlayers/Layer_0010_1.png"),
    url("./Assets/Backgroundlayers/Layer_0011_0.png");
}

.game-canvas {
  width: 90%;
  height: 85%;
  margin: auto;
  border: 1px solid rgba(255, 255, 255, 0.281);
  display: flex;
}

.charContainer {
  position: absolute;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.charContainerActive {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: myAnim 1.2s ease 0s 1 normal forwards;
}

.mobContainer {
  position: absolute;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobContainerActive {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: enemyanim 1.2s ease 0s 1 normal forwards;
}

.charSelectionContainer {
  display: flex;
  position: relative;
  width: clamp(350px, 90%, 700px);
  height: clamp(300px, 35%, 600px);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid black;
}

@keyframes myAnim {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  20% {
    opacity: 1;
    transform: translateX(8vw);
  }

  80% {
    opacity: 1;
    transform: translateX(8vw);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes enemyanim {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  20% {
    opacity: 1;
    transform: translateX(-8vw);
  }

  80% {
    opacity: 1;
    transform: translateX(-8vw);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.user-canvas {
  border: 1px solid red;
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
}

.enemy-canvas {
  border: 1px solid red;
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
}

.statsContainer {
  position: absolute;
  background-image: linear-gradient(
    to right,
    #ffffff34,
    #ffffff30,
    #ffffff20,
    #ffffff10,
    #ffffff00
  );
  backdrop-filter: blur(44px);
  left: 0;
  padding: 10px;
}
