* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  background: rgb(1, 9, 19);
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-size: 100% 100%;
  background-image: url("./Assets/Backgroundlayers/Layer_0000_9.png"),
    url("./Assets/Backgroundlayers/Layer_0001_8.png"),
    url("./Assets/Backgroundlayers/Layer_0002_7.png"),
    url("./Assets/Backgroundlayers/Layer_0003_6.png"),
    url("./Assets/Backgroundlayers/Layer_0004_Lights.png"),
    url("./Assets/Backgroundlayers/Layer_0005_5.png"),
    url("./Assets/Backgroundlayers/Layer_0006_4.png"),
    url("./Assets/Backgroundlayers/Layer_0007_Lights.png"),
    url("./Assets/Backgroundlayers/Layer_0008_3.png"),
    url("./Assets/Backgroundlayers/Layer_0009_2.png"),
    url("./Assets/Backgroundlayers/Layer_0010_1.png"),
    url("./Assets/Backgroundlayers/Layer_0011_0.png");
}

.travel-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-image: url("./Assets/Backgroundlayers/Layer_0009_2.png"),
    url("./Assets/Backgroundlayers/Layer_0010_1.png"),
    url("./Assets/Backgroundlayers/Layer_0011_0.png");
}

.travel-background {
  position: absolute;
  bottom: 0;
}

.game-canvas {
  height: 93%;
  width: 100%;

  display: flex;
  position: absolute;
}

.charContainer {
  position: absolute;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameWrapper {
  width: clamp(350px, 90%, 700px);
  height: 425px;
  overflow: hidden;
  border: 2px solid black;
  background: white;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
}

.charContainerActive {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: myAnim 1.4s ease 0s 1 normal forwards;
}

.mobContainer {
  position: absolute;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobContainerActive {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: enemyanim 1.4s ease 0s 1 normal forwards;
}

.charSelectionContainer {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  min-width: min-content;
  align-self: center;
  align-items: center;
  outline: 2px solid black;
}

@keyframes myAnim {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  20% {
    opacity: 1;
    transform: translateX(8vw);
  }

  80% {
    opacity: 1;
    transform: translateX(8vw);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes enemyanim {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }

  20% {
    opacity: 1;
    transform: translateX(-8vw);
  }

  80% {
    opacity: 1;
    transform: translateX(-8vw);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.user-canvas {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
}

.enemy-canvas {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
}

.statsContainer {
  position: absolute;
  background-image: linear-gradient(
    to right,
    #ffffff34,
    #ffffff30,
    #ffffff20,
    #ffffff10,
    #ffffff00
  );
  backdrop-filter: blur(44px);
  left: 0;
  padding: 10px;
}
